<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Pruebas</title>
    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> -->
    <style>
        html, body { height: 100%; margin: 0; padding: 0; }
        #map { height: 100%; }
        .header-fixed {
            width: 100%
        }

        .header-fixed > thead,
        .header-fixed > tbody,
        .header-fixed > thead > tr,
        .header-fixed > tbody > tr,
        .header-fixed > thead > tr > th,
        .header-fixed > tbody > tr > td {
            display: block;
        }

        .header-fixed > tbody > tr:after,
        .header-fixed > thead > tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        .header-fixed > tbody {
            overflow-y: auto;
            height: 350px;
        }

        .header-fixed > tbody > tr > td,
        .header-fixed > thead > tr > th {
            width: 25%;
            float: left;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-tdiv">
        <div class="container col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" align="center">
                    <h1><b>Panel de Administración</b></h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">AICRIDI</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="active"><a data-toggle="pill" href="#pois">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;POIS<span class="sr-only">(current)</span></a></li>
                    <li role="presentation"><a data-toggle="pill" href="#users"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Usuarios</a></li>
                    <li role="presentation"><a data-toggle="pill" href="#statics"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Estadísticas</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="tab-content">
        <div id="pois" class="tab-pane fade in active">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="embed-responsive embed-responsive-4by3">
                            <div class="embed-responsive-item" id="map"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary" style="min-width: 323px">
                            <div class="panel-header" align="center">
                                <h3><b>Listado de POIS</b></h3>
                            </div>
                            <div class="panel-body" style="height: 500px">

                                <div class="table-responsive">
                                    <table class="table table-striped header-fixed">
                                        <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Latitud</th>
                                            <th>Longitud</th>
                                        </tr>
                                        </thead>
                                        <tbody style="height: 435px">
                                        <tr>
                                            <td>Casa</td>
                                            <td>19.92475</td>
                                            <td>-0.80924</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Puti</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        <tr>
                                            <td>Puti</td>
                                            <td>20.78275</td>
                                            <td>-0.83456</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="users" class="tab-pane fade in active">
            Gestión de Usuarios
        </div>
        <div id="statics" class="tab-pane fade in active">
            Gestión de Estadísticas
        </div>
    </div>
</div>


<script type="text/javascript">

    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 40.46366700000001, lng: -3.7492200000000366},
            zoom: 6
        });

        var marker = new google.maps.Marker({
            position: {lat: 41.64886959999999, lng: -0.889742100000035},
            map: map,
            title: 'Casa!'
        });

        marker.setMap(map)
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXKViVY9DuiM75qPiyclDq_wcWZNOpj1Q&callback=initMap">
</script>
</body>
</html>